{% extends 'admin_temp/base.html' %}
{% load static %}
{% block content %}


  <!-- content @s -->
  <div class="nk-content ">
    <div class="nk-block nk-block-middle nk-auth-body  wide-xs">
       
        <div class="card card-bordered">
            <div class="card-inner card-inner-lg">
                <div class="nk-block-head">
                    <div class="nk-block-head-content">
                        <h4 class="nk-block-title">Update Your password</h4>
                        
                    </div>
                </div>
                <form action="" method="POST">
                    {% csrf_token %}
                    <div class="form-group">
                        <div class="form-label-group">
                            <label class="form-label" for="default-01">Old password</label>
                        </div>
                        <div class="form-control-wrap">
                            <input type="password" name="old_password" class="form-control form-control-lg" id="password" placeholder="New Password">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="form-label-group">
                            <label class="form-label" for="password">New Password</label>
                           </div>
                        <div class="form-control-wrap">
                            
                            <input type="password" name="new_password" class="form-control form-control-lg" id="password2" placeholder="New Password">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="form-label-group">
                            <label class="form-label" for="password">Confirm Password</label>
                           </div>
                        <div class="form-control-wrap">
                            
                            <input type="password" name="confirm_password" class="form-control form-control-lg" id="password2" placeholder="New Password">
                        </div>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-lg btn-primary btn-block">Update</button>
                    </div>
                </form>
                  </div>
            </div>
        </div>
    </div>
   
</div>
<!-- wrap @e -->
</div>
<!-- content @e -->


{% endblock %}