{% extends 'admin_temp/base.html' %}
{% load static %}
{% block content %}

<!-- content @s -->
<div class="nk-content ">
    <div class="container-fluid">
        <div class="nk-content-inner">
            <div class="nk-content-body">
                <div class="nk-block-head nk-block-head-sm">
                    <div class="nk-block-between g-3">
                        <div class="nk-block-head-content">
                            <h3 class="nk-block-title page-title">withdrawal Transaction</h3>
                            <div class="nk-block-des text-soft">
                                <p>You have total {{t_tal}} orders.</p>
                            </div>
                        </div><!-- .nk-block-head-content -->
                        <div class="nk-block-head-content">

                    </div><!-- .nk-block-between -->
                </div><!-- .nk-block-head -->
                <div class="nk-block">
                    <div class="card card-bordered card-stretch">
                        <div class="card-inner-group">
                            <div class="card-inner">
                                <div class="card-title-group">
                                    <div class="card-title">
                                        <h5 class="title">All Orders</h5>
                                    </div>
                                    <div class="card-tools me-n1">
                                        <ul class="btn-toolbar gx-1">
                                            <li>
                                                <a href="#" class="search-toggle toggle-search btn btn-icon" data-target="search"><em class="icon ni ni-search"></em></a>
                                            </li><!-- li -->
                                            <li class="btn-toolbar-sep"></li><!-- li -->

                                        </ul><!-- .btn-toolbar -->
                                    </div><!-- .card-tools -->
                                    <div class="card-search search-wrap" data-search="search">
                                        <div class="search-content">
                                            <a href="#" class="search-back btn btn-icon toggle-search" data-target="search"><em class="icon ni ni-arrow-left"></em></a>
                                            <input type="text" class="form-control border-transparent form-focus-none" placeholder="Quick search by transaction">
                                            <button class="search-submit btn btn-icon"><em class="icon ni ni-search"></em></button>
                                        </div>
                                    </div><!-- .card-search -->
                                </div><!-- .card-title-group -->
                            </div><!-- .card-inner -->
                            <div class="card-inner p-0">
                                <div class="nk-tb-list nk-tb-tnx">
                                    <div class="nk-tb-item nk-tb-head">
                                        <div class="nk-tb-col"><span>Details</span></div>
                                        <div class="nk-tb-col tb-col-xxl"><span>Source</span></div>
                                        <div class="nk-tb-col tb-col-lg"><span>Business Type</span></div>
                                        <div class="nk-tb-col text-end"><span>Amount</span></div>
                                        <div class="nk-tb-col text-end tb-col-sm"><span>Psyment</span></div>
                                        <div class="nk-tb-col nk-tb-col-status"><span class="sub-text d-none d-md-block">Status</span></div>
                                        <div class="nk-tb-col nk-tb-col-tools"></div>
                                    </div><!-- .nk-tb-item -->

                                    {% for x in x reversed %}
                                    <div class="nk-tb-item">
                                        <div class="nk-tb-col">
                                            <div class="nk-tnx-type">
                                                <div class="nk-tnx-type-icon bg-success-dim text-success">
                                                    <img src="{% static 'ui/images/bank.png' %}" alt="">
                                                </div>
                                                <div class="nk-tnx-type-text">
                                                    <span class="tb-lead">withdrawal Request</span>
                                                    <span class="tb-date">{{x.date}}</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="nk-tb-col tb-col-xxl">
                                            <span class="tb-lead-sub">Using PayPal Account</span>
                                            <span class="tb-sub">mypay*****com</span>
                                        </div>
                                        <div class="nk-tb-col tb-col-lg">

                                            <span class="badge badge-dot bg-warning">withdrawal</span>
                                        </div>
                                        <div class="nk-tb-col text-end">
                                            <!-- <span class="tb-amount">+ 0.010201 <span>BTC</span></span> -->
                                            <span class="tb-amount-sm">{{x.amount}} USD</span>
                                        </div>
                                        <div class="nk-tb-col text-end tb-col-sm">
                                            <!-- <span class="tb-amount">1.30910201 <span>BTC</span></span> -->
                                            <span class="tb-amount-sm">{{x.payment}} NGN</span>
                                        </div>
                                        <div class="nk-tb-col nk-tb-col-status">
                                            <div class="dot dot-success d-md-none"></div>
                                           {% if x.status %}
                                           <span class="badge badge-sm badge-dim bg-outline-success d-none d-md-inline-flex">Approved</span>
                                           {% else %}
                                           <span class="badge badge-sm badge-dim bg-outline-warning d-none d-md-inline-flex">Pending</span>
                                           {% endif %}
                                        </div>
                                        {{uemail}}
                                        <div class="nk-tb-col nk-tb-col-tools">
                                            <ul class="nk-tb-actions gx-2">

                                                    <div class="dropdown">
                                                        <a href="#" class="dropdown-toggle bg-white btn btn-sm btn-outline-light btn-icon" data-bs-toggle="dropdown"><em class="icon ni ni-more-h"></em></a>
                                                        <div class="dropdown-menu dropdown-menu-end">
                                                            <ul class="link-list-opt">
                                                                {% if x.status %}
                                                                <li><a href="#tranxDetails{{x.id}}" data-bs-toggle="modal"><em class="icon ni ni-eye"></em><span>View Details</span></a></li>
                                                                {% else %}
                                                                <form action="" method="POST">
                                                                    {% csrf_token %}
                                                                    <input type="text" name="u_id" value="{{x.id}}" hidden>
                                                                <li><button class="btn" type="submit"><em class="icon ni ni-done"></em><span>Approve</span></button></li>
                                                            </form>
                                                                <li><a href="/superadmin/trancryptoselldelete/{{x.id}}"><em class="icon ni ni-cross-round"></em><span>Reject</span></a></li>

                                                                <li><a href="#tranxDetails{{x.id}}" data-bs-toggle="modal"><em class="icon ni ni-eye"></em><span>View Details</span></a></li>
                                                            {% endif %}
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div><!-- .nk-tb-item -->


<!-- Modal Default -->
<div class="modal fade" tabindex="-1" id="tranxDetails{{x.id}}">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <a href="#" class="close" data-bs-dismiss="modal" aria-label="Close">
                <em class="icon ni ni-cross"></em>
            </a>
            <div class="modal-body modal-body-md">
                <div class="nk-modal-head mb-3 mb-sm-5">
                    <h4 class="nk-modal-title title">Transaction ID: <small class="text-primary">{{x.invoice}}</small></h4>
                </div>
                <div class="nk-tnx-details">
                    <div class="nk-block-between flex-wrap g-3">
                        <div class="nk-tnx-type">
                            <div class="nk-tnx-type-icon bg-warning text-white">
                                <img src="{{x.coin.logo.url}}" alt="">
                            </div>
                            <div class="nk-tnx-type-text">
                                <h5 class="title"> -N{{x.amount}}</h5>
                                <span class="sub-text mt-n1">{{x.date}}</span>
                            </div>
                        </div>
                        <ul class="align-center flex-wrap gx-3">
                            {% if x.status %}
                            <li>
                                <span class="badge badge-sm bg-success">Completed</span>
                            </li>
                            {% else %}
                            <li>
                                <span class="badge badge-sm bg-warning">Pending</span>
                            </li>
                            {% endif %}
                        </ul>
                    </div>
                    <div class="nk-modal-head mt-sm-5 mt-4 mb-4">
                        <h5 class="title">Transaction Info</h5>
                    </div>
                    <div class="row gy-3">
                        <div class="col-lg-6">
                            <span class="sub-text">Bank</span>
                            <span class="caption-text">{{x.bank.bank_name}}</span>
                        </div>

                        <div class="col-lg-6">
                            <span class="sub-text">Account Number</span>
                            <span class="caption-text">{{x.account_number}}</span>
                        </div>
                        <div class="col-lg-6">
                            <span class="sub-text">withdrawal Amount</span>
                            <span class="caption-text">N{{x.amount}}</span>
                        </div>
                        <div class="col-lg-6">
                            <span class="sub-text">Name</span>
                            <span class="caption-text">{{x.name}}</span>
                        </div>
                    </div><!-- .row -->
                    <div class="nk-modal-head mt-sm-5 mt-4 mb-4">
                        <h5 class="title">Transaction Details</h5>
                    </div>
                    <div class="row gy-3">
                        <div class="col-lg-6">
                            <span class="sub-text">Transaction Type</span>
                            <span class="caption-text">withdraw</span>
                        </div>
                        <div class="col-lg-6">
                            <span class="sub-text">Payment Gateway</span>
                            <span class="caption-text align-center"><span class="badge bg-primary ms-2 text-white">Bank transfer</span></span>
                        </div>
                        <div class="col-lg-6">
                            <span class="sub-text">Request From</span>
                            <span class="caption-text text-break">{{x.user.first_name}} {{x.user.last_name}}</span>
                        </div>
                        <!-- <div class="col-lg-6">
                            <span class="sub-text">Payment To</span>
                            <span class="caption-text text-break">{{x.payment_info|linebreaksbr|urlize}}</span>
                        </div> -->

                    </div><!-- .row -->
                </div><!-- .nk-tnx-details -->
            </div><!-- .modal-body -->
        </div><!-- .modal-content -->
    </div><!-- .modal-dialog -->
</div><!-- .modal -->


                                   {% endfor %}

                                </div><!-- .nk-tb-list -->
                            </div><!-- .card-inner -->
                            <div class="card-inner">
                                <!--<ul class="pagination justify-content-center justify-content-md-start">-->
                                <!--    <li class="page-item"><a class="page-link" href="#">Prev</a></li>-->
                                <!--    <li class="page-item"><a class="page-link" href="#">1</a></li>-->
                                <!--    <li class="page-item"><a class="page-link" href="#">2</a></li>-->
                                <!--    <li class="page-item"><span class="page-link"><em class="icon ni ni-more-h"></em></span></li>-->
                                <!--    <li class="page-item"><a class="page-link" href="#">6</a></li>-->
                                <!--    <li class="page-item"><a class="page-link" href="#">7</a></li>-->
                                <!--    <li class="page-item"><a class="page-link" href="#">Next</a></li>-->
                                <!--</ul>-->
                            </div><!-- .card-inner -->
                        </div><!-- .card-inner-group -->
                    </div><!-- .card -->
                </div><!-- .nk-block -->
            </div>
        </div>
    </div>
</div>
<!-- content @e -->








<!-- Modal Default -->
<div class="modal fade" tabindex="-1" id="savedFilter">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Modal Title</h5>
                <a href="#" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <em class="icon ni ni-cross"></em>
                </a>
            </div>
            <div class="modal-body">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem similique earum necessitatibus nesciunt! Quia id expedita asperiores voluptatem odit quis fugit sapiente assumenda sunt voluptatibus atque facere autem, omnis explicabo.</p>
            </div>
            <div class="modal-footer bg-light">
                <span class="sub-text">Modal Footer Text</span>
            </div>
        </div>
    </div>
</div>

{% endblock %}