{% load static %}
<!doctype html>
<html class="no-js" lang="en" dir="ltr">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Jettrade</title>
    <link rel="stylesheet" href="{% static 'user/custom.css' %}" />
    <!-- plugin css file  -->
    <link rel="stylesheet" href="{% static 'user/responsive.dataTables.min.css' %}">
    <link rel="stylesheet" href="{% static 'user/dataTables.bootstrap5.min.css' %}"> 
    
    <!-- project css file  -->
    
    <link rel="stylesheet" href="{% static 'adminstatic/assets/css/dashlite.css' %}">
    <link id="skin-default" rel="stylesheet" href="{% static 'adminstatic/assets/css/theme.css' %}">

    <script
      type="module"
      src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
  </head>
  <style>
    .jettradebg{
        background-color: #2D2BA4;
        color: white;
    }
    .jettradecolor{
        color: #2D2BA4;
    }
  </style>
<body>
  <div id="cryptoon-layout" class="theme-orange">

    <!-- main body area -->
    <div class="main ">

        <!-- Body: Header -->
        <div class="container-xxl">
            <!-- header rightbar icon -->
            <div class="row">
                <div class="col">
                    <a href="/" class="d-flex align-item-center">
                        <img width="150"  src="{% static 'user/images/logo.png' %}" alt="logo">
                    </a>
                </div>
        </div>
        
        