{% extends 'user/base.html' %}
{% load static %}
{% block content %}

<form method="POST" action="https://checkout.flutterwave.com/v3/hosted/pay">
<div class="card card-style">
    <div class="content mb-0">
    <div class="tabs tabs-pill" id="tab-group-2">
    <div class="tab-controls rounded-m p-1 overflow-visible">
    <a class="font-13 w-100 bg-primary rounded-s py-1 shadow-bg shadow-bg-s">Flutterwave deposit</a>
     </div>
    <div class="mt-3"></div>
    
    <div class="collapse show" id="tab-4" data-bs-parent="#tab-group-2">         
            <div class="pb-2"></div>
            <div class="form-custom form-label form-icon">
                <i class="bi bi-cash-stack font-14"></i>
            <input name="" required type="number" class="form-control rounded-xs" id="c31" value="{{x.amount}}" readonly />
            <label for="c31" class="color-highlight form-label-always-">Amount To Deposit</label>
            
            </div>
               <div class="pb-3"></div>
               <input type="hidden" name="public_key" value="FLWPUBK_TEST-c5aa33fff1b8e6d2d2fc72c5039d791d-X" />
               <input type="hidden" name="tx_ref" value="bitethtx-019203" />
               <!-- <input type="hidden" name="amount" value="3400" /> -->
               <input type="hidden" name="currency" value="NGN" />
               <input type="hidden" name="redirect_url" value="http://Jettrade.com/autodep/{{x.id}}" />
               <input type="hidden" name="meta[token]" value="54" />
               <input type="hidden" name="amount" value="{{x.payamount}}" />
               <input type="hidden" name="customer[name]" value="{{x.balance.user.username}}" />
               <input type="hidden" name="customer[email]" value="{{x.balance.user.email}}" />
            <div class="trc d-flex gap-2">
            <!-- <a href="{% url 'autodel' x.id %}" class="btn w-100 btn-full gradient-red rounded-s shadow-bg shadow-bg-s mb-4">Cancel transaction</a>
            -->
            <button type="submit" class="btn w-100 btn-full gradient-green rounded-s shadow-bg shadow-bg-s mb-4">Continue to payment</button>
       
            </div>
            </div>
    
   
    </div>
    </div>
    </div>

  </form>

{% endblock %}