{% extends 'user/base.html' %}
{% load static %}
{% block content %}

<div class="container">
     <!-- Body: Body -->
     <div class="body d-flex py-3">
        <div class="container-xxl">
            <div class="row align-item-center">
                <div class="col-md-12">
                    <div class="card mb-3">
                        <div class="card-header py-3 d-flex justify-content-between bg-transparent border-bottom-0">
                            <h6 class="mb-0 fw-bold ">Personal Info</h6> 
                        </div>
                        <div class="card-body">
                           
                            <form>
                                <div class="row g-3 align-items-center">
                                    <div class="col-md-6">
                                        <label for="firstname" class="form-label">First Name</label>
                                        <input type="text" style="background-color: #fbfafa;" value="{{user.first_name}}" class="form-control" id="firstname" readonly>
                                    </div>
                                    <div class="col-md-6">
                                        <label for="lastname" class="form-label">Last Name</label>
                                        <input type="text" style="background-color: #fbfafa;" value="{{user.last_name}}" class="form-control" id="lastname" readonly>
                                    </div>
                                    <div class="col-md-6">
                                        <label  class="form-label">Username</label>
                                        <input type="text" style="background-color: #fbfafa;" value="{{user.username}}" class="form-control" id="phonenumber" readonly>
                                    </div>
                                    <div class="col-md-6">
                                        <label for="emailaddress" class="form-label">Email Address</label>
                                        <input type="email" style="background-color: #fbfafa;" value="{{user.email}}" class="form-control" id="emailaddress" readonly>
                                    </div>
                                    
                                    
                                    
                                   
                                    
                                </div>
                                
                                    </form>
                                   
                        </div>
                    </div>
                    
                </div>
            </div><!-- Row end  -->

        </div>
    </div>
</div>

{% endblock %}