<form method="POST" action="https://checkout.flutterwave.com/v3/hosted/pay">
    <div>
        Your order is N2,000
      </div>
    <input type="hidden" name="public_key" value="FLWPUBK_TEST-c5aa33fff1b8e6d2d2fc72c5039d791d-X" />
    <input type="hidden" name="tx_ref" value="bitethtx-019203" />
    <input type="hidden" name="amount" value="3400" />
    <input type="hidden" name="currency" value="NGN" />
    <input type="hidden" name="redirect_url" value="https://Jettrade.comautodep/{{x.id}}" />
    <input type="hidden" name="meta[token]" value="54" />
    <input type="hidden" name="customer[name]" value="Jesse Pinkman" />
    <input type="hidden" name="customer[email]" value="jessepinkman@walterwhite.org" />

    <button type="submit">Pay Now</button>
 </form>

  